<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Roster
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reordering = !reordering">
        <ion-icon *ngIf="!reordering" name="sync"></ion-icon>
        <ion-icon *ngIf="reordering" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list id="rosterList" [reorder]="reordering ? 'true':'false'" (ionItemReorder)="$event.applyTo(players)">

    <ion-item-sliding *ngFor="let player of players; let i = index;" (click)="goToDetails(player)">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="'assets/img/players/' + player.lastName + '.png'">
        </ion-avatar>
        <h2>#{{player?.number}} {{player.firstName}} {{player.lastName}}</h2>
        <p>{{ player.phone }}</p>
        <p>{{ player.getPositionString() }}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="bs-danger" (click)="confirmPrompt(player)"><ion-icon name="trash"></ion-icon> Delete</button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

  <ion-fab right bottom *ngIf="!reordering">
    <button ion-fab color="primary" (click)="addPlayer()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>